html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-form-field {
  width: 100%;
}
a {
  color: white !important;
}

.active-button {
  background-color: gray;
}
